# OS
.DS_Store

# Env
.env
.env.*

# Node/Next
node_modules/
.next/
out/
dist/
coverage/

# Firebase artifacts (do not commit)
.firebase/
.firebaserc.backup*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# Misc
*.local
*.swp

# Temporary folders
.tmp/
.swp/

# Generated demo folder
y/
